.button {
    -fx-background-color: #D8DEE9;
}
.button:hover {
    -fx-background-color: #E5E9F0;
}
.button:pressed {
    -fx-background-color: #ECEFF4;
}
.button:focused {
    -fx-background-color: #ECEFF4;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #D8DEE9;
}